<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/style.css?v=" | append: site.github.build_revision | relative_url }}">
    
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
         
        <strong>
          Contácto:
        </strong>

        <div class="payment-gw-row">
          <span class="payment-gw-text">ilias_grecia@hotmail.com</span>
        </div>

        <div class="payment-gw-row">
          <span class="payment-gw-text">+58 04121907602</span>
        </div>
          Almacen la porteña, avenida Bermudes #14.
        Cumaná, estado Sucre. Venezuela.
        <div class="payment-gw-row">
          <span class="payment-gw-text">
              <a href="ilias_grecia@hotmail.com">
                <img src="https://image.flaticon.com/icons/svg/38/38996.svg">
              </a>

                <a href="https://www.paypal.me/iliasapia">
                <img src="https://image.flaticon.com/icons/svg/38/38971.svg">
              </a>
          </span>
        </div>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <br>
        <p>Este sitio web es propiedad y es administrado por <a href="{{ site.github.owner_url }}">Ilias Androutsopoulos</a></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
