<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% seo %}
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/assets/style.css?v=" | append: site.github.build_revision | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/resume.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 p-0 sidemenu">
          <div class="p-2 mt-4 text-center">
            <a href="{{ "/" | absolute_url }}">
              <img src="assets/logo.png" class="logo mb-3"/>
            </a>
            <br>
            <a href="{{ "/" | absolute_url }}" class="lead link">
              {{ site.title | default: site.github.repository_name }}
            </a>
            <div class="subtitle">
              {{ site.description | default: site.github.project_tagline }}
            </div>
            <p class="text-light mt-3">
              Acepto pagos a traves de 
              <a class="text-light" href="nik.androutsopoulos@gmail.com">
                Payoneer
              </a>
              <a class="text-light" href="https://www.PayPal.Me/nikand1987">
                Paypal
              </a>
            </p>
          </div>
        </div>
        <div class="col">
          <p>
            {{ content }}
          </p>
          <div>
            <hr>
            <p>Este sitio web es propiedad y es administrado por <a href="{{ site.github.owner_url }}">Nikolaos Androutsopoulos</a></p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>
</html>
